<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Saraff.Twain.DS" publicKeyToken="d59c866b4519678c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.3.671" newVersion="1.0.3.671" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>